{% extends "layout.njk" %}

{% block content %}
  <h1 id="post__fav">Posts Favoritos</h1>
    <section class="cards">
      {% for item in items %}
        <div class="card" id={{item.id}}>
          <div class="card__image-container">
            <img src={{item.img}} alt="">
          </div>
          <div class="card__content">
            <p>{{item.title}}</p>
          </div>
          <div class="card__info">
            <p>{{item.author}}</p>
            <p class="time">{{item.time}}</p>
          </div>
        </div>
      {% endfor %}
    </section>
    <script src="scripts.js"></script>
{% endblock%}
    