{% extends "layout.njk" %}

{% block content %}
  <header>
    <div class="links">
      <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
      <a href="mailto:oi@rocketseat.com.br" target="_blank">Email</a>
      <a href="tel:+5547992078767" target="_blank">Telefone</a>
      <a href="/sobre"  target="_blank">Sobre</a>
      <a href="/conteudos"  target="_blank">Conteúdos</a>
    </div>
  </header>
{% endblock %}